POSTGRES_HOST=database
POSTGRES_PORT=5432
POSTGRES_USER=student
POSTGRES_PASSWORD=student123
POSTGRES_DB=kupipodariday_db
JWT_SECRET=super-strong-secret
JWT_EXPIRES=7d
PGDATA=/data/postgres
REACT_APP_API_URL=https://api.your-domain.nomoreparties.co
